p.InfoClass {
	font-size: 75%;
	padding-top:5px;
	padding-left: 5px; 
	padding-right: 5px;
	padding-bottom: 0px;
	border:2px solid gray;
	margin:0px;
	border-color: #8F0000;
}

a.HideClass {
	color:#8F0000;
	font-size:50%;
}