.InfoClass {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #DDE7E3;
/*	border: 2px solid gray;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-top:1px;
	position: relative;
}

p.InfoClass {
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	padding-top:5px;
	padding-bottom: 0px;
}

p.HideClass {
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	color:#8F0000;
/*	padding-top:0px;
	padding-bottom:0px;
	line-height:0px;*/
}

p.ShowClass {
	color:#8F0000;
	font-size:14px;
}

.test {
	border: 2px solid gray;
}
